#about {
  padding: 0 0;
  background-color: #58585b;
  .about-bg {
    background-image: url(img/about-bg.svg);
    background-repeat: no-repeat;
    background-position: left center;
      background-size: auto;
  }
  .about-content {
    padding: 10rem 0;
    @include grid-column(
       $columns:6,
       $collapse:true,
       $float:right
    );
    h2, p {
      color: white;
    }
    h3 {
      width: 100%;
    }
  }
}