.spread {
  background-color: #3daac9;
  padding: 200px 0;
  h1, h3  {
    color: white;
  }
  h1 {
    font-size: 36px;
    letter-spacing: 1px;
    font-family: 'Knockout 30 A', 'Knockout 30 B'; font-weight: 400; font-style: normal;
  }
  h3 {
    font-weight: 400;
    font-size: 1.4em;
    letter-spacing: 1px;
    font-family: $omnes;
  }
}