.hero {
   @include grid-column(
      $columns:12,
      $collapse:true,
      $float:left
    );
    text-align: left;
    @media #{$medium-up} {
      @include grid-column(
         $columns:7
       );
    }
  h5 {
    @extend .pns-reg;
    color: black;
    text-transform: uppercase;
    font-size: 1rem;
  }
  h1 {
    @extend .pns-semibold;
    color: $orange;
    font-size: 2.25rem;
  }
  h3  {
    @extend .pns-reg;
    color: black;
  }
}