.logo {
  padding: 50px 0;
  display: block;
}

.btn {
  display: inline-block;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background-color: #71CDDE;
  padding: 15px 30px;
  text-align: center;
  color: $grey;
  font-family: $proxima;
  font-size: 1.2em;
  font-weight: 400;
  margin: 20px;
  &:hover {
    color: white;
    -webkit-box-shadow: 0px 3px 0px #2e2e2e;
            box-shadow: 0px 3px 0px #2e2e2e;
  }
  &:active {
   -webkit-box-shadow: 0px 1px 0px #2e2e2e;
           box-shadow: 0px 1px 0px #2e2e2e;
  }
}

.what-we-do {
  text-align: center;
  h2 {
    font-family: $knockout30;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    letter-spacing: 1px;
    color: $green;
  }
  h3 {
    font-family: $knockout30;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: $green;
  }
  p {
    font-family: $proxima;
    font-size: 1.2em;
  }
}

.mission {
  margin-bottom: 100px;
}

.idea, .mission {
  h2 {
    text-align: center;
    font-family: $knockout30;
    font-size: 3em;
    color: $salmon;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
.illustration {
  text-align: center;
  padding-bottom: 100px;
  figure {
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }
}


/* helper classes */

.full-width {
  width: 100%;
  clear: both;
  }

.align-center {
  text-align: center;
  }