.what-we-do {
  text-align: center;
  h3 {
    font-family: $knockout30;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    letter-spacing: 1px;
  }
  p {
    font-family: $omnes;
    font-size: 1.2em;
  }
}

.idea, .mission {
  font-family: $omnes;
  font-size: 1.2em;
  padding: 50px 100px;
  line-height: 1.5em;
  h2 {
    text-align: center;
    font-family: $knockout30;
    font-size: 3em;
  }
}

.full-width {

  }