@mixin vertical-align-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Neat's out container doesn't add padding, so this is a simple mixin to pad containers for mobile */

@mixin mobile-padding($pad) {
  padding: 0 $pad;
}

@mixin transition($target, $time) {
  -webkit-transition: $target $time;
     -moz-transition: $target $time;
      -ms-transition: $target $time;
       -o-transition: $target $time;
          transition: $target $time;
}