@mixin section-titles($subtitle-color, $title-color) {
  .section-title {
    color: $title-color;
    @extend .pns-bold;
    @extend %center-text;
    font-size: 1rem;
    line-height: 1.5;
    @media #{$medium-up} {
      font-size: 1.5rem;
    }
  }
  .section-subtitle {
    margin-top: 0;
    @extend %center-text;
    @extend .pns-semibold;
    color: $subtitle-color;
    font-size: 1.5rem;
    line-height: 1.4;
    @media #{$medium-up} {
      font-size: 3rem;
      line-height: 1.25;
      padding: 0 10%;
    }
  }
}