.services {
  position: relative;
  .service {
    position: relative;
    padding-bottom: 8rem;
    @include grid-row($behavior: nest);
    .service-image {
      @include grid-column(
        $columns:12,
        $collapse:true
      );
      img {
        display: block;
        margin: 0 auto;
        width: 50%;
        height: auto;
      }
    }
    .service-copy {
      @include grid-column(
        $columns:12,
        $collapse:true
        );
    }

    @media #{$medium-up} {
      padding-bottom: 10rem 0;
      .service-image {
        @include grid-column(
          $columns:5,
          $collapse:false,
          $float:left
        );
        img {
          width: auto;
          float: left;
        }
      }
      .service-copy {
        @include grid-column(
          $columns:7,
          $collapse:false
          );
      }
      &:nth-child(even) {
        .service-image {
          @include grid-column(
            $float:right
          );
          img {
            float: right;
          }
        }
      }
    }

  }
}