#signup-form {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    // @include grid-row();
    li {
      margin: 0;
      padding: 0;
    }
  }
  label {
    color: $gray;
    @extend .pns-semibold;
    font-size: 1rem;
    padding-bottom: 1.25rem;
  }
  input, textarea {
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background-color: $ultra-light-gray;
    border: none;
    padding: 1rem;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 1rem;
    margin-bottom: 3rem;
    width: 100%;
  }

  #foli113, #foli4, #foli108, #foli6 {
    @include media ($desktop) {
      @include span-columns(6);
      @include omega(2n);
    }
    @include span-columns(12);
  }

  #foli109, #foli110 {
    @include span-columns(12);
  }
}

.hide {
  display: none;
}