$proxima-nova-soft: 'proxima-nova-soft', helvetica, arial, sans-serif;
$default-font-family: $proxima-nova-soft;
$kulturista: "kulturista-web",serif;

$default-font-size: 1rem;

%kult {
  font-family: $kulturista;
}

%kultlight {
  @extend %kult;
  font-style: normal;
  font-weight: 300;
}

%kultmed {
  @extend %kult;
  font-style: normal;
  font-weight: 400;
}

%pns {
  font-family: $default-font-family;
}

.pns-regular {
  @extend %pns;
  font-style: normal;
  font-weight: 400;
}

.pns-medium {
  @extend %pns;
  font-style: normal;
  font-weight: 500;
}

.pns-semibold {
  @extend %pns;
  font-style: normal;
  font-weight: 600;
}

.pns-bold {
  @extend %pns;
  font-style: normal;
  font-weight: 700;
}

//helpers

%small-font-size {
  font-size: .75rem;
}


h2 {
  @extend pns-semibold;
}

// Regular "proxima-nova-soft" 400 normal
// Medium  "proxima-nova-soft" 500 normal
// Semibold  "proxima-nova-soft" 600 normal
// Bold  "proxima-nova-soft" 700