/* newcolors */

$beige: #c2b49a;
$beige20: tint( $beige, 20% );
$orange: #f16521;
$gray: #58585b;
$blue: #5abfe2;
$green: #b3d085;
$nav-gray: #bbbdc0;
$warm-gray: #5B5248;
$new-blue: #1882A8;
$ultra-light-gray: #F2F4F4;
$text-gray: #9D9691;
$rust: #BB3E26;

/* colors */
$brown: #695e4a;
$grey: #404041; // DARK GREY
$salmon: #FBAF3F;
$light-grey: #bcbcbc;

/* type */
$proxima: 'proxima-nova', helvetica, sans-serif;