/*colors*/
$green: #b6a632;
$brown: #695e4a;
$grey: #87847f;
/*type*/
$knockout49: 'Knockout 49 A', 'Knockout 49 B', helvetica, arial, sans-serif;
$knockout30: 'Knockout 30 A', 'Knockout 30 B', helvetica, arial, sans-serif;
$omnes: 'omnes-pro', helvetica, sans-serif;
