$green: #b6a632;
$brown: #695e4a;
$knockout49: 'Knockout 49 A', 'Knockout 49 B', helvetica, arial, sans-serif;
$knockout29: 'Knockout 29 A', 'Knockout 29 B', helvetica, arial, sans-serif;
$omnes: 'omnes-pro', helvetica, sans-serif;
