/* main css file */
@import "variables";
@import "typography";

@import "../assets/vendor/foundation/scss/foundation/settings";
@import "../assets/vendor/foundation/scss/foundation";

@import "tooltips";

@import "hero";
@import "home";
@import "footer";
/* wufoo forms stuff */
@import "form";
@import "structure";
@import "theme";
@import "signup";
@import "modal";
@import "nav";

.signup {
  color: white;
}

body {
  background-color: $beige20 !important;
  margin: 0;
  padding: 0;
  color: white;
}

