// vars
@import "vars/colors";
@import "vars/type";

// mixins
@import 'mixins/grid-columns-mq';
@import 'mixins/transitions';
@import 'mixins/vertical-align-center';

@import "../assets/vendor/foundation/scss/foundation/functions";
@import "../assets/vendor/foundation/scss/foundation/components/global";
@import "../assets/vendor/foundation/scss/foundation/components/grid";
@import "../assets/vendor/foundation/scss/foundation/components/clearing";
@import "../assets/vendor/foundation/scss/foundation/components/forms";
@import "../assets/vendor/foundation/scss/foundation/components/block-grid";
@import "../assets/vendor/foundation/scss/foundation/components/inline-lists";
@import "../assets/vendor/foundation/scss/foundation/components/buttons";
@import "../assets/vendor/foundation/scss/foundation/components/reveal";


// base
@import "base/normalize";
@import "base/utilities";
@import "base/typography";
@import "base/utilities";



// modules
@import "modules/section-titles";
@import "modules/sections/about";
@import "modules/sections/best-results";
@import "modules/sections/footer";
@import "modules/sections/hero";
@import "modules/sections/process";
@import "modules/sections/services";
@import "modules/sections/signup";
@import "modules/nav";
@import "modules/buttons";
@import "modules/signup-form";
@import "modules/tooltips";


// vendored

.signup {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.content-section {
  padding: 6rem 0;
  @media #{$medium-up} {
    padding: 15rem 0;
  }
}

.wrap {
  top: 1275px;
  position: relative;
  z-index: 1000;
}