.tooltip {
  border-color: $gray;
  background-color: $gray;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 2px;
  @extend %pns-regular;
  width: auto;
  font-size: .75rem;
  @include transition(all, .25s);
  .qtip-content {
    padding: 5px 8px;
  }
}