// a mixin to easily mix in grid columns once.
@mixin grid-columns-mq($small, $medium, $large) {

  @media #{$small-only} {
  @include grid-column(
    $columns: $small,
    $collapse:false,
    $float:left
    )
  }

  @media #{$medium-only} {
    @include grid-column(
      $columns: $medium,
      $collapse:false,
      $float:left
    )
  }

  @media #{$large-up} {
    @include grid-column(
      $columns: $large,
      $collapse:false,
      $float:left
    )
  }
}
