$proxima-nova-soft: 'proxima-nova-soft', helvetica, arial, sans-serif;
$default-font-family: $proxima-nova-soft;
$kulturista: "kulturista-web",serif;
$proxima-nova: 'proxima-nova', helvetica, arial, sans-serif;
