section#best-results.full-width.content-section
  .row
    h2.section-title FOR THE BEST RESULTS
    h3.section-subtitle We ask for a little from you to help the project go smoothly. Your users will thank you.
    .small-12.columns
      ul.best-results-grid
        li
          h4 Have a well defined project.
          p Success for research, testing and consulting relies heavily on being able to identify a target audience and establish metrics for success.
        li
          h4 Make Stakeholders Available
          p Having clear vision from stakeholders helps us come up with the most effective plan.
        li
          h4 Help to recruit participants
          p Research requires people who are willing to participate in tests. No one knows the audience better than you.
        li
          h4 Provide incentives  for participation
          p We want to compensate people generous enough to participate in research for their time. We provide the elbow grease, you provide the carrot.