footer
  .footer-wrapper
    ul
      li.footer__item
        a(href="#") Terms and Conditions
      li.footer__item
        a(href="mailto:mic@bendyworks.com") Questions?
      li.footer__item
        | &copy; 2014
      li.footer__item
        | Made with Love in Madison, WI

  script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
  //- to be concated and minified
  script(src="assets/vendor/qtip2/jquery.qtip.js")
  script(src="assets/vendor/jquery-waypoints/waypoints.js")
  script(src="assets/vendor/jquery-smooth-scroll/jquery.smooth-scroll.js")
  script(src="js/foundation.min.js")
  script(src="js/app.js")
