.row
  section.hero
    h5 The UX Lab at Bendyworks
    h1 Free User Experience Research and Consulting for Organizations that do Good
    h3 User-centered research, experience design and innovation consulting for non-profits, students, and government and civic organizations in Madison and surrounding areas.
    a.btn.round.contact-form-button(href="#apply") Submit an Application

