extends layout

block content
  include partials/content/nav
  include partials/content/hero
  .wrap
    include partials/content/about
    include partials/content/what-we-do
    include partials/content/process
    include partials/content/best-results
    include partials/content/apply
    include partials/footer