nav
  ul
    li
      a.tipped(title="Home" href="#") Top
    li
      a.tipped(title="About" href="#about") About
    li
      a.tipped(title="What We Do" href="#whawedo") What We Do
    li
      a.tipped(title="Process and Delivery" href="#process") Process and Delivery
    li
      a.tipped(title="For Best Results" href="#results") For Best Results
    li
      a.tipped(title="Submit an Application" href="#submitapp") Submit Application