section#whatwedo.full-width.content-section
  .row
    h2.section-title What We Do
    h3.section-subtitle We help you make digital things that make people happy.
  .row
    .services
      .service
        .service-image
          img(src="img/user-research.svg")
        .service-copy
          h2 User Research
          p We use user interviews, contextual inquiries, card sorts, data analysis, and other research methods and get information and data you can use to bring your product or service to the next level.
      .service
        .service-image
          img(src="img/usability-testing.svg")
        .service-copy
          h2 Usability Testing
          p Have a sketch of an app, or receiving feedback a part of your app or service just isn't working. We'll find target users and run them through the process, and give you a roadmap to help delight your users.
      .service
        .service-image
          img(src="img/innovation-consulting.svg")
        .service-copy
          h2 Innovation Consulting
          p We want to get everyone involved, so we can run collaborative design workshops and brainstorming sessions with stakeholders and users to identify core pain points and future solutions.
      .services-disclaimer
        p
          | The UXLab Does not Currently Provide Interface Design,Visual Design or Development Services.
          a(href="http://www.bendyworks.com")&nbsp;We know people who do though!