section#whatwedo.full-width.content-section
  .row
    h2.section-title What We Do
    h3.section-subtitle We help you make digital things that make people happy.
    .services
      .service
        .service-image
          img(src="http://placehold.it/250x250")
        .service-copy
          h2 User Research
          p It all starts here. To build things for users, we need to know who your users are, what they think, and how to solve their problems. We can do user interviews, contextual inquiries/ethnographies, diary studies, card sorts, and other research methods and get information and data you can use to bring your product or service to the next level.
      .service
        .service-image
          img(src="http://placehold.it/250x250")
        .service-copy
          h2 Usability Testing
          p It all starts here. To build things for users, we need to know who your users are, what they think, and how to solve their problems. We can do user interviews, contextual inquiries/ethnographies.
      .service
        .service-image
          img(src="http://placehold.it/250x250")
        .service-copy
          h2 Innovation Consulting
          p It all starts here. To build things for users, we need to know who your users are, what they think, and how to solve their problems. We can do user interviews
      .services-disclaimer
        p
          | The UXLab Does not Currently Provide Interface Design,Visual Design or Development Services.
          a(href="http://www.bendyworks.com")&nbsp;We know people who do though!