#about {
  padding: 0 0;
  background-color: white;
  .about-content {
    padding: 10rem 0;
    @include grid-column(
       $columns:9,
       $collapse: true,
       $center: true
    );
  }
  p {
    @extend .pns-regular;
    color: $warm-gray;
    font-size: 1.15rem;
  }
  .section-subtitle {
    padding-bottom: 2rem important;
  }
}