.best-results-grid {
  > li {
    @include media($desktop) {
      @include span-columns(6);
      @include omega(2n);
    }
    @include span-columns(12)
  }
  h4 {
    @extend .pns-semibold;
    color: $warm-gray;
  }
  p {
    color: $text-gray;
    @extend %proxima-nova-light;
    font-size: 1.15rem
  }
}
