.services {
  @include media($desktop) {
    @include span-columns(12)
  }
  .service {
    @include media($desktop) {
      @include span-columns(4 of 12);
    }
    .service-image {
      img {
        display: block;
        margin: 0 auto;
        width: 25%;
        height: auto;
      }
    }
    .service-copy {
      h2 {
        @extend .pns-semibold;
        font-size: 2.5rem;
      }
      p {
        @extend %pns-regular;
        font-size: 1.15rem;
      }
    }
  }
}