.services {
  position: relative;
  .service {
    position: relative;
    padding-bottom: 8rem;
    @include grid-row($behavior: nest);
    .service-image {
      @include grid-column(
        $columns:12,
        $collapse:true
      );
      img {
        display: block;
        margin: 0 auto;
        width: 50%;
        height: auto;
      }
    }
    .service-copy {
      @include grid-column(
        $columns:12,
        $collapse:true
        );
      h2 {
        @extend .pns-semibold;
        font-size: 2.5rem;
      }
      p {
        @extend .pns-regular;
        font-size: 1.15rem;
      }

    }

    @media #{$medium-up} {
      padding-bottom: 10rem 0;
      .service-image {
        @include grid-column(
          $columns:3,
          $push: 1,
          $collapse:false,
          $float:left
        );
        img {
          width: auto;
          float: left;
        }
      }
      .service-copy {
        @include grid-column(
          $columns:6,
          $collapse:false,
          $float: right,
          $pull: 1
          );
      }
      &:nth-child(even) {
        .service-image {
          @include grid-column(
            $columns:3,
            $collapse:false,
            $float:right
          );
          img {
            float: right;
          }
        }
      }
    }
  }
}