section#about.full-width.content-section
  .about-bg
    .row
      .about-content
        h2.section-title About the UXLab
        h3.section-subtitle Experience, experimentation and a passion for helping your users.
        .row
          p Our mission is to advance the practice of user experience design and increase design literacy in Madison and surrounding areas by bringing the best minds together to help non-profits, government and civic organizations and students enhance the experience of their products and services. The UXLab is run out of Bendyworks, during time given to us to learn, grow and give back.