nav
  img(src='/img/new-logo.svg', height='131', width='138')
  ul
    li
      a.nav-home.tipped(title="Home" href="#") Top
    li
      a.nav-about.tipped(title="About" href="#about") About
    li
      a.nav-whatwedo.tipped(title="What We Do" href="#whatwedo") What We Do
    li
      a.nav-process.tipped(title="Process and Delivery" href="#process") Process and Delivery
    li
      a.nav-best-results.tipped(title="For Best Results" href="#best-results") For Best Results
    li
      a.nav-apply.tipped(title="Submit an Application" href="#apply") Submit Application