section#process.full-width.content-section
  .row
    h2.section-title Process & Delivery
    h3.section-subtitle Success comes from a collaborative effort and an open mind
  .row

    .process__item
      | One or two hour discovery meeting to learn about problem, history, requirements, and goals.
    .process__item
      | Services will take no longer than 1 work day for two people total (16 hours).
    .process__item
      | We always provide a summary report and raw materials/ notes for you to use as you move forward.
  .full-width
    .row
      .process__number
        | 1
      .process__number
        | 2
      .process__number
        | 3
      .process__number
        | 4
      .process__number
        | 5
  .row
    .process__item
      | We will complete work within one month of initial meeting if possible.
    .process__item
      | Formulate a plan and get approval to move forward.